/* TRIMESTRES */

.trimestres{

    padding: 40px;

    text-align: center;
}

.trimestres h2{

    margin-bottom: 25px;

    font-size: 30px;
}

.cards{

    display: flex;

    gap: 20px;

    justify-content: center;

    flex-wrap: wrap;
}

.card{

    background: #222;

    color: white;

    text-decoration: none;

    padding: 25px 40px;

    border-radius: 15px;

    transition: 0.3s;

    font-weight: bold;
}

.card:hover{

    background: #333;

    transform: translateY(-5px);
}
